# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
venv/

# Node
node_modules/
.diagnostics/
*.log


# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Docker volumes
mongo-data/

# Bitcoin price (should be local, for optimization)
dcaw-backend/bitcoin_price.json



# Others
*.swp
